{% extends "ar-layout.html" %}
{% block content %}
   <main class="main-wrapper relative overflow-hidden">
            <section id="section-breadcrumb" style="direction: ltr;">
                <div class="breadcrumb-wrapper">
                    <div class="global-container">
                        <div class="breadcrumb-block">
                            <h1 class="breadcrumb-title">خدمتنا</h1>
                            <ul class="breadcrumb-nav">
                                <li><a href='/'>البيت</a></li>
                                <li>خدمتنا</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-service">
           <div class="pb-20 xl:pb-[150px]">
               <div class="global-container">
                   <div class="jos mb-10 text-center lg:mb-16 xl:mb-20">
                       <div class="mx-auto max-w-md lg:max-w-xl xl:max-w-[950px]">
                           <h2>حلولنا</h2>
                           <p>نركز على النتائج ونسعى لرفع مستوى عملائنا.</p>
                       </div>
                   </div>
                   <ul class="jos grid grid-cols-1 gap-[2px] overflow-hidden rounded-[10px] border-2 border-black bg-black sm:grid-cols-2 lg:grid-cols-4">
                       <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                           <div class="relative mb-9 h-[70px] w-[70px]">
                               <img src="assets/img/th-2/web-black.svg" alt="service-icon-black-1" width="70" height="70" />
                               <img src="assets/img/th-2/web.svg" alt="service-icon-orange-1" width="70" height="70"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </div>
                           <h3 class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                               <a class='hover:text-colorOrangyRed' href='#'>
                                   تصميم المواقع
                               </a>
                           </h3>
                           <p class="mb-12 duration-300 group-hover:text-white">
                               نبني مواقع احترافية ومتجاوبة محسنّة لأشهر محركات البحث بتكلفة معقولة.
                           </p>
                           <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                               <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30" height="30" />
                               <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30" height="30"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </a>
                       </li>
                       <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                           <div class="relative mb-9 h-[70px] w-[70px]">
                               <img src="assets/img/th-2/shop-black.svg" alt="service-icon-black-2" width="70" height="70" />
                               <img src="assets/img/th-2/shop.svg" alt="service-icon-orange-1" width="70" height="70"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </div>
                           <h3 class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                               <a class='hover:text-colorOrangyRed' href='#'>
                                   التجارة الإلكترونية
                               </a>
                           </h3>
                           <p class="mb-12 duration-300 group-hover:text-white">
                               زد مبيعاتك من خلال متجر إلكتروني مذهل، مليء بالميزات والوظائف.
                           </p>
                           <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                               <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30" height="30" />
                               <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30" height="30"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </a>
                       </li>
                       <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                           <div class="relative mb-9 h-[70px] w-[70px]">
                               <img src="assets/img/th-2/wordpress-black.svg" alt="service-icon-black-3" width="70" height="70" />
                               <img src="assets/img/th-2/wordpress.svg" alt="service-icon-orange-3" width="70" height="70"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </div>
                           <h3 class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                               <a class='hover:text-colorOrangyRed' href='#'>
                                   ووردبريس
                               </a>
                           </h3>
                           <p class="mb-12 duration-300 group-hover:text-white">
                               أنشئ موقعًا مذهلًا باستخدام ووردبريس، مع دمج المرونة والسرعة وسهولة الاستخدام لأي مشروع.
                           </p>
                           <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                               <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30" height="30" />
                               <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30" height="30"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </a>
                       </li>
                       <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                           <div class="relative mb-9 h-[70px] w-[70px]">
                               <img src="assets/img/server.svg" alt="service-icon-black-4" width="70" height="70" />
                               <img src="assets/img/server-blue.svg" alt="service-icon-orange-4" width="70" height="70"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </div>
                           <h3 class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                               <a class='hover:text-colorOrangyRed' href='#'>
                                   الاستضافة
                               </a>
                           </h3>
                           <p class="mb-12 duration-300 group-hover:text-white">
                               استضافة موثوقة وآمنة للحفاظ على سرعة موقعك وسهولة الوصول إليه دائمًا.
                           </p>
                           <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                               <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30" height="30" />
                               <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30" height="30"
                                   class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                           </a>
                       </li>
                   </ul>
               </div>
           </div>
            </section>
            <section class="faq-section">
           <div class="pb-20 xl:pb-[150px]">
               <div class="global-container">
                   <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2">
                       <div class="jos flex flex-col" data-jos_animation="fade-right">
                           <div class="mb-6">
                               <div class="mx-auto md:mx-0 md:max-w-none">
                                   <h2>يمكنك طرح أي أسئلة للحصول على مزيد من المعلومات</h2>
                               </div>
                           </div>
                           <div class="text-lg leading-[1.4] lg:text-[21px]">
                               <p class="mb-7 last:mb-0">
                                   يقدر عملاؤنا التزامنا بالجودة ورضا العملاء. بدءًا من التصاميم المتجاوبة إلى استضافة موثوقة ودعم ممتاز، نحن نقدم باستمرار نتائج تساعد الشركات على النمو والنجاح عبر الإنترنت.
                               </p>
                               <a class='button mt-5 rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white' href='/faq'>
                                   طرح الأسئلة
                               </a>
                           </div>
                       </div>
                       <div class="jos md:ml-10 lg:ml-20 xl:ml-32" data-jos_animation="fade-left">
                           <ul class="accordion">
                               <li class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0 active">
                                   <div class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                       <p>كم تبلغ تكلفة خدماتكم؟</p>
                                       <div class="accordion-icon">
                                           <img src="assets/img/plus.svg" alt="plus" />
                                       </div>
                                   </div>
                                   <div class="accordion-content text-[#2C2C2C]">
                                       <p>
                                          الأسعار تتفاوت حسب المشروع، حيث تبدأ من 50 دولارًا للتصاميم الأساسية وتصل إلى 300 دولارًا للميزات المتقدمة.
                                       </p>
                                   </div>
                               </li>
                               <li class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0">
                                   <div class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                       <p>هل تقدمون خدمات الاستضافة؟</p>
                                       <div class="accordion-icon">
                                           <img src="assets/img/plus.svg" alt="plus" />
                                       </div>
                                   </div>
                                   <div class="accordion-content text-[#2C2C2C]">
                                       <p>
                                           نعم، نحن نقدم استضافة موثوقة وآمنة مع SSL ونسخ احتياطية ووقت تشغيل ممتاز. تبدأ الخطط من 10 دولارات شهريًا، مما يضمن أداءً سريعًا وخيارات قابلة للتوسع لأي موقع ويب.
                                       </p>
                                   </div>
                               </li>
                               <li class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0">
                                   <div class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                       <p>هل تقدمون الدعم بعد إطلاق الموقع؟</p>
                                       <div class="accordion-icon">
                                           <img src="assets/img/plus.svg" alt="plus" />
                                       </div>
                                   </div>
                                   <div class="accordion-content text-[#2C2C2C]">
                                       <p>
                                           نعم، نحن نقدم دعمًا بعد الإطلاق لضمان تشغيل موقعك بكفاءة وأنه يلبّي توقعاتك.
                                       </p>
                                   </div>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
            </section>
        </main>
{% endblock content %}