{% extends "layout.html" %}
{% block content %}
<main class="main-wrapper relative overflow-hidden" style="background-color: #339ebf;">
            <section id="404-section">
                <div class="py-40 pt-36 xl:pb-[200px] xl:pt-[180px]">
                    <div class="global-container">
                        <div class="mx-auto max-w-[954px] text-center">
                            <h1 class="bg-[url(../img/th-1/404-text-image.jpg)] bg-contain bg-clip-text bg-center bg-no-repeat text-[150px] text-transparent sm:text-[220px] lg:text-[300px] xl:text-[350px]">
                               500
                            </h1>
                            <h2 class="mb-[50px]">
                                Internal Server Error, there is an error in the server 
                            </h2>
                            <a class='button rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white' href='/'>reload</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock content %}