{% extends "layout.html" %}
{% block content %}  
<main class="main-wrapper relative overflow-hidden">
            <section id="section-breadcrumb">
                <div class="breadcrumb-wrapper">
                    <div class="global-container">
                        <div class="breadcrumb-block">
                            <h1 class="breadcrumb-title">Contact Us</h1>
                            <ul class="breadcrumb-nav">
                                <li><a href='/'>Home</a></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-section">
                <div class="pb-20 xl:pb-[150px]">
                    <div class="global-container">
                        <div
                            class="grid grid-cols-1 gap-x-16 gap-y-10 md:grid-cols-2 xl:grid-cols-[minmax(0,_1fr)_1.1fr]">
                            <div class="order-2 flex flex-col md:order-1">
                                <div class="mb-8 text-left lg:mb-16 xl:mb-6">
                                    <div class="mx-auto md:mx-0 md:max-w-none">
                                        <h2>Get in touch with us directly</h2>
                                    </div>
                                </div>
                                <div class="text-lg leading-[1.4] lg:text-[21px]">
                                    <p class="mb-7 last:mb-0">
                                        We are here to help you! Tell us how we can help & we'll
                                        be in touch with an expert within the next 24 hours.
                                    </p>

                                    <ul class="mt-12 flex flex-col gap-y-8 lg:gap-y-12">
                                        <li class="flex flex-col gap-y-4 text-2xl font-bold">
                                            Send us an email:
                                            <a href="mailto:yourmail@email.com"
                                                class="text-2xl font-normal leading-loose hover:text-colorOrangyRed lg:text-3xl">info@mthemeus.com</a>
                                        </li>
                                        <li class="flex flex-col gap-y-4 text-2xl font-bold">
                                            Give us a call:
                                            <a href="tel:+01500312705"
                                                class="text-2xl font-normal leading-loose hover:text-colorOrangyRed lg:text-3xl">+(20)
                                                1500312705</a>
                                        </li>
                                        <li class="flex flex-col gap-y-4 text-2xl font-bold">
                                            Follow us:
                                            <ul class="mt-auto flex gap-x-[15px]">
                                                <li>
                                                    <a href="http://www.facebook.com" target="_blank"
                                                        rel="noopener noreferrer"
                                                        class="group relative flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-black hover:bg-colorOrangyRed">
                                                        <img src="assets/img/th-1/facebook-icon-white.svg"
                                                            alt="facebook" width="14" height="14"
                                                            class="opacity-100 group-hover:opacity-0" />
                                                        <img src="assets/img/th-1/facebook-icon-white.svg"
                                                            alt="facebook" width="14" height="14"
                                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.tiktok.com" target="_blank"
                                                        rel="noopener noreferrer"
                                                        class="group relative flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-black hover:bg-colorOrangyRed">
                                                        <img src="assets/img/th-1/tiktok.svg" alt="tiktok"
                                                            width="14" height="14"
                                                            class="opacity-100 group-hover:opacity-0" />
                                                        <img src="assets/img/th-1/tiktok.svg" alt="tiktok"
                                                            width="14" height="14"
                                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.linkedin.com" target="_blank"
                                                        rel="noopener noreferrer"
                                                        class="group relative flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-black hover:bg-colorOrangyRed">
                                                        <img src="assets/img/th-1/linkedin-icon-white.svg"
                                                            alt="linkedin" width="14" height="14"
                                                            class="opacity-100 group-hover:opacity-0" />
                                                        <img src="assets/img/th-1/linkedin-icon-white.svg"
                                                            alt="linkedin" width="14" height="14"
                                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="http://www.instagram.com" target="_blank"
                                                        rel="noopener noreferrer"
                                                        class="group relative flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-black hover:bg-colorOrangyRed">
                                                        <img src="assets/img/th-1/instagram-icon-white.svg"
                                                            alt="instagram" width="14" height="14"
                                                            class="opacity-100 group-hover:opacity-0" />
                                                        <img src="assets/img/th-1/instagram-icon-white.svg"
                                                            alt="instagram" width="14" height="14"
                                                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div
                                class="order-1 block rounded-lg bg-white px-[30px] py-[50px] shadow-[0_4px_60px_0_rgba(0,0,0,0.1)] md:order-2">
                               <form action="" method="post" class="flex flex-col gap-y-5">
                                    <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="contact-name" class="text-lg font-bold leading-[1.6]">your
                                                name</label>
                                            <input type="text" name="name" id="contact-name"
                                                placeholder="Youssef ahmed"
                                                class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed"
                                                required />
                                        </div>
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="budget" class="text-lg font-bold leading-[1.6]">budget</label> 
                                              <select name="budget" class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed">
                                                <option value="" selected>-- Please select budget --</option>
                                                <option value="2000-5000">2000-5000 EG</option>
                                                <option value="5000-8000">5000-8000 EG</option>
                                                <option value="8000-15000">8000-12000 EG</option>
                                                <option value="15000+">More then 15000 EG</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="contact-phone" class="text-lg font-bold leading-[1.6]">Phone
                                                number</label>
                                            <input type="tel" name="phone" id="contact-phone"
                                                placeholder="01234567890"
                                                class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed"
                                                required />
                                        </div>
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="contact-company"
                                                class="text-lg font-bold leading-[1.6]">Company</label>
                                            <input type="text" name="company" id="contact-company"
                                                placeholder="EX webify"
                                                class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed" />
                                        </div>
                                        <!-- Form Single Input -->
                                    </div>
                                    <!-- Form Group -->
                                    <!-- Form Group -->
                                    <div class="grid grid-cols-1 gap-6">
                                        <!-- Form Single Input -->
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="contact-message"
                                                class="text-lg font-bold leading-[1.6]">Message</label>
                                            <textarea name="message" id="contact-message"
                                                class="min-h-[180px] rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed"
                                                placeholder="Write your message here..." required></textarea>
                                        </div>
                                        <!-- Form Single Input -->
                                    </div>

                                    <div>
                                        <button type="submit"
                                            class="button mt-5 rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white">
                                            Send your message
                                        </button>
                                    </div>
                                    <!-- Form Group -->
                                </form>
                                <!-- Contact Form -->
                            </div>
                            <!-- Contact Right Block -->
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: Contact Section End :::... -->

            <!--...::: Map Section Start :::... -->
            <section class="map-section">
                <!-- Section Spacer -->
                <div class="bg-black pb-40 pt-20 xl:pb-[200px] xl:pt-[130px]">
                    <!-- Section Container -->
                    <div class="global-container">
                        <!-- Section Content Block -->
                        <div class="mb-10 text-center lg:mb-16 xl:mb-20">
                            <div class="mx-auto md:max-w-xs lg:max-w-xl xl:max-w-[950px]">
                                <h2 class="text-white">
                                    We always welcome our clients to our office
                                </h2>
                            </div>
                        </div>
                        <!-- Section Content Block -->

                        <!-- Map Block -->
                        <div class="relative">
                            <img src="assets/img/th-1/mapbase.svg" alt="mapbase" class="h-auto w-full" />
                            <!-- Location 1 -->
                            <div class="group absolute hidden sm:flex gap-2 sm:top-[10%] sm:left-[13%]">
                                <div class="relative w-[50px] h-[50px]">
                                    <button
                                        class="group flex justify-center items-center w-[50px] h-[50px] relative transition-all duration-300">
                                        <img src="assets/img/th-1/icon-gray-location-marker.svg"
                                            alt="icon-gray-location-marker" width="35" height="35"
                                            class="opacity-100 group-hover:opacity-0 transition-all duration-300">
                                        <img src="assets/img/th-1/icon-orange-location-marker.svg"
                                            alt="icon-gray-location-marker" width="50" height="50"
                                            class="absolute opacity-0 scale-50 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300">
                                    </button>

                                    <div
                                        class="absolute bg-white rounded-[8px] p-4 text-sm w-[170px] bottom-0 right-0 xl:right-[50px] xxl:right-auto xxl:left-[50px] opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300 xl:translate-y-12 group-hover:translate-y-0">
                                        <div class="flex gap-1 font-bold pb-3">
                                            <img src="assets/img/th-1/icon-black-location-marker.svg"
                                                alt="icon-black-location-marker" width="17" height="17">
                                            n/a
                                        </div>
                                        <address class="not-italic font-semibold">
                                          close
                                        </address>
                                    </div>
                                </div>
                            </div>

                            <div class="group absolute hidden sm:flex gap-2 sm:top-[10%] sm:left-[13%]" style="top: 33%; left:47%">
                                <div class="relative w-[50px] h-[50px]">
                                    <button
                                        class="group flex justify-center items-center w-[50px] h-[50px] relative transition-all duration-300">
                                        <img src="assets/img/th-1/icon-gray-location-marker.svg"
                                            alt="icon-gray-location-marker" width="35" height="35"
                                            class="opacity-100 group-hover:opacity-0 transition-all duration-300">
                                        <img src="assets/img/th-1/icon-orange-location-marker.svg"
                                            alt="icon-gray-location-marker" width="50" height="50"
                                            class="absolute opacity-0 scale-50 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300">
                                    </button>

                                    <div
                                        class="absolute bg-white rounded-[8px] p-4 text-sm w-[170px] bottom-0 right-0 xl:right-[50px] xxl:right-auto xxl:left-[50px] opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-300 xl:translate-y-12 group-hover:translate-y-0">
                                        <div class="flex gap-1 font-bold pb-3">
                                            <img src="assets/img/th-1/icon-black-location-marker.svg"
                                                alt="icon-black-location-marker" width="17" height="17">
                                             egypt, cairo
                                        </div>
                                        <address class="not-italic font-semibold">
                                            King Faisal St, Giza Governorate 12554
                                        </address>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock content %}  

 