{% extends "layout.html" %}
{% block content %}
     <link rel="stylesheet" href="assets/css/cmain.css">
     <main class="main-wrapper relative overflow-hidden">
            <section id="slider" class="hero p-0 odd" style="padding-bottom: 10px;">
             <div class="swiper-container full-slider featured animation slider-h-100 swiper-container-initialized swiper-container-horizontal">
                  <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                      <div class="swiper-slide slide-center swiper-slide-active" style="width: 1349px;">
                          <img data-jos_animation="zoom-out-up" data-jos_delay="800" src="assets/img/hero-4.png" class="hero-image jos" alt="Hero Image">
                          <div class="slide-content row" data-mask-768="50">
                              <div class="col-12 d-flex inner">
                                  <div class="left align-self-center text-center text-md-left init">
                                      <h1 data-jos_animation="zoom-out-up" data-jos_delay="400" class="title effect-static-text jos">Let's Build<br>Something</h1>
                                      <p data-jos_animation="zoom-out-up" data-jos_delay="800" class="description jos">Together, we’ll create innovative solutions to bring your ideas to life and achieve greatness.</p>
                                      <a data-jos_animation="zoom-out-up" data-jos_delay="1200" class="jos button rounded-[50px] border-none bg-colorViolet text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white lg:inline-block buttom-margin-left" href="#">GET IN TOUCH</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide slide-center swiper-slide-next" style="width: 1349px;">
                          <img data-jos_animation="zoom-out-up" data-aos_delay="800" src="assets/img/hero-5.jpg" class="hero-image jos" alt="Hero Image">
                          <div class="slide-content row" data-mask-768="50">
                               <div class="col-12 d-flex inner">
                                   <div class="left align-self-center text-center text-md-left init">
                                       <h2 data-jos_animation="zoom-out-up" data-jos_delay="400" class="title effect-static-text jos">Reach the<br>Next Level.</h2>
                                       <p data-jos_animation="zoom-out-up" data-jos_delay="800" class="description jos">Are you ready? Count on us to revolutionize your company's online identity.</p>
                                       <a data-jos_animation="zoom-out-up" data-jos_delay="1200" class="jos button rounded-[50px] border-none bg-colorViolet text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white lg:inline-block buttom-margin-left" href="#">GET IN TOUCH</a>
                                   </div>
                               </div>
                           </div>
                      </div>
                      <div class="swiper-slide slide-center" style="width: 1349px;">
                          <img data-jos_animation="zoom-out-up" data-aos_delay="800" src="assets/img/hero-6.jpg" class="hero-image jos" alt="Hero Image">
                          <div class="slide-content row" data-mask-768="50">
                              <div class="col-12 d-flex inner">
                                  <div class="left align-self-center text-center text-md-left init">
                                      <h2 data-jos_animation="zoom-out-up" data-jos_delay="400" class="title effect-static-text jos">Built for<br>Excellence.</h2>
                                      <p data-jos_animation="zoom-out-up" data-jos_delay="800" class="description jos">Empowering brands to thrive with solutions tailored just for you.</p>
                                      <a data-jos_animation="zoom-out-up" data-jos_delay="1200" class="jos button rounded-[50px] border-none bg-colorViolet text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white lg:inline-block buttom-margin-left" href="#">GET IN TOUCH</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                  <div class="absolute left-1/2 h-[77px] w-full -translate-x-1/2 bg-cover bg-center bg-no-repeat" style="bottom: -50px; background-image: url('assets/img/th-2/new.svg');"></div>
             </section>
            <section id="why">
                <div class="pb-20 pt-1 xl:pb-[130px] xl:pt-[53px]">
                    <div class="global-container">
                        <div
                            class="jos mb-10 text-left sm:mx-auto sm:text-center md:mb-16 md:max-w-xl lg:mb-20 lg:max-w-3xl xl:max-w-[856px]">
                            <h2
                                class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                  Why <span style="color: #000000a3;">web</span><span style="color: #009eff80;">ify</span>?
                            </h2>
                        </div>
                        <ul class="grid gap-x-6 gap-y-10 md:grid-cols-2 xl:grid-cols-3">
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.1">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/icons/pricing.svg" alt="icon-feature-1" width="49"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        pricing
                                    </div>
                                    <p class="font-normal">
                                        Professional web design from $50 to $300, tailored to fit your budget.
                                    </p>
                                </div>
                            </li>
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.2">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/icons/quality.svg" alt="icon-feature-2" width="45"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        quality
                                    </div>
                                    <p class="font-normal">
                                        Optimized for search engines, our high-quality, fully responsive websites enhance visibility and drive traffic.
                                    </p>
                                </div>
                            </li>
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.3">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/img/th-2/icon-feature-1.svg" alt="icon-feature-3" width="36"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        live chat
                                    </div>
                                    <p class="font-normal">
                                        For a limited time, get our Webify live chat for free with our cheapest plan.
                                    </p>
                                </div>
                            </li>
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.4">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/img/th-2/icon-feature-3.svg" alt="icon-feature-3" width="36"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        time
                                    </div>
                                    <p class="font-normal">
                                        We value your time, which is why our websites are completed within 4 to 15 days.
                                    </p>
                                </div>
                            </li>
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.5">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/icons/secure.svg" alt="icon-feature-3" width="36"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        Securety
                                    </div>
                                    <p class="font-normal">
                                        Your data's safety is our priority. Our websites are built with robust security measures for peace of mind.
                                    </p>
                                </div>
                            </li>
                            <li class="jos flex flex-col gap-x-[30px] gap-y-6 sm:flex-row" data-jos_delay="0.6">
                                <div
                                    class="flex h-20 w-20 items-center justify-center rounded-full bg-white p-4 shadow-[0_4px_60px_0_rgba(0,0,0,0.1)]">
                                    <img src="assets/icons/support.svg" alt="icon-feature-3" width="36"
                                        height="45" />
                                </div>
                                <div class="flex flex-1 flex-col gap-y-5">
                                    <div
                                        class="font-clashDisplay text-[22px] font-medium leading-6 lg:text-[28px] lg:leading-5">
                                        Support
                                    </div>
                                    <p class="font-normal">
                                         Get year of technical support with any plan purchase. We’re here to help!
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="global-container">
                <div class="h-[1px] w-full bg-[#EAEDF0]"></div>
            </div>
            <section id="content">
                <div class="pb-20 pt-20 md:pb-36 md:pt-32 lg:pb-28 xl:pb-[220px] xl:pt-[130px] xxl:pt-[200px]">
                    <div class="global-container">
                        <div class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-20 xl:grid-cols-[minmax(0,_1fr)_.8fr] xl:gap-28 xxl:gap-[134px]">
                            <div class="order-2 mt-16 rounded-md md:mt-0 jos" data-jos_animation="fade-up" data-jos_once="1" data-jos_counter="1" data-jos_scrolldirection="down">
                                <div class="relative h-[494px] rounded-tl-[20px] rounded-tr-[20px] bg-[url('../img/th-2/content-shape.jpg')] bg-cover bg-no-repeat">
                                    <img src="assets/img/th-2/content.png" alt="th2-content-img-2.png" width="320" height="564" class="absolute left-1/2 w-[450px] -translate-x-1/2" style="top: 5%;">
                                </div>
                            </div>
                            <div class="order-1 jos" data-jos_animation="fade-right" data-jos_once="1" data-jos_counter="1" data-jos_scrolldirection="down">
                                <div class="mb-6">
                                    <h2 class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                        Do you think social media is really enough?
                                    </h2>
                                </div>
                                <div class="text-lg leading-[1.66]">
                                    <p class="mb-7 last:mb-0">
                                        Anyone can have a page on social media, but not everyone can have their own website. A website is your opportunity to stand out from your competitors, reflect your professionalism, and provide your clients with a better and more trustworthy experience.
                                    </p>
                                    <ul class="mt-12 flex flex-col gap-y-6 font-clashDisplay text-[22px] font-medium leading-[1.28] tracking-[1px] lg:text-[28px]">
                                        <li class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet">
                                            Distinguish yourself from your competitors
                                        </li>
                                        <li class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet">
                                            Build trust
                                        </li>
                                        <li class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet">
                                            Appear in search results
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-2">
                <div class="pb-20 md:pt-36 lg:pb-28 xl:pb-[220px]">
                    <div class="global-container">
                        <div
                            class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-20 xl:grid-cols-[minmax(0,_.8fr)_1fr] xl:gap-28 xxl:gap-[134px]">
                            <div class="jos order-2 mt-16 rounded-md md:order-1 md:mt-0" data-jos_animation="fade-up">
                                <div
                                    class="relative h-[494px] rounded-tl-[20px] rounded-tr-[20px] bg-[url('../img/th-2/content-shape.jpg')] bg-cover bg-no-repeat">
                                    <img src="assets/img/th-2/content-img-2.png" alt="th2-content-img-1.png"
                                        width="320" height="564"
                                        class="absolute bottom-0 left-1/2 h-[564px] w-[320px] -translate-x-1/2" />
                                </div>
                            </div>
                            <div class="jos order-1 md:order-2" data-jos_animation="fade-right">
                                <div class="mb-6">
                                    <h2
                                        class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                        The Key to Our Website's Success
                                    </h2>
                                </div>
                                <div class="text-lg leading-[1.66]">
                                    <p class="mb-7 last:mb-0">
                                         Our website combines user-friendly design, advanced technology, and seamless interaction to create an outstanding experience for every visitor. We are committed to delivering top-quality services that set us apart from the competition.
                                    </p>
                                    <ul
                                        class="mt-12 flex flex-col gap-y-6 font-clashDisplay text-[22px] font-medium leading-[1.28] tracking-[1px] lg:text-[28px]">
                                        <li
                                            class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet" style="padding-top: 6px;">
                                             Easy Navigation and Intuitive Design
                                        </li>
                                        <li
                                            class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet" style="padding-top: 6px;">
                                            Fast and Secure
                                        </li>
                                        <li
                                            class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet" style="padding-top: 6px;">
                                            Tailored to Your Needs
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tech-stack">
                <div class="relative z-[1] overflow-hidden bg-colorCodGray text-white">
                    <div class="py-20 xl:py-[130px]">
                        <div class="global-container">
                            <div
                                class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 lg:gap-20 xl:grid-cols-[minmax(0,_1fr)_.8fr] xl:gap-28 xxl:gap-[134px]">
                                <div class="jos">
                                    <div class="mb-6">
                                        <h2
                                            class="font-clashDisplay text-4xl font-medium leading-[1.06] text-white sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                            Our Technology Stack
                                        </h2>
                                    </div>
                                    <p class="mb-7 last:mb-0">
                                        Learn about the technologies we use to ensure your website is the best it can be. <br >
                                        This incload:
                                    </p>
                                    <ul
                                        class="my-12 flex flex-col gap-y-6 font-clashDisplay text-[22px] font-medium leading-[1.28] tracking-[1px] lg:text-[28px]">
                                        <li
                                            class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet">
                                            Front-end
                                        </li>
                                        <li
                                            class="relative pl-[35px] after:absolute after:left-[10px] after:top-3 after:h-[15px] after:w-[15px] after:rounded-[50%] after:bg-colorViolet">
                                            Back-end
                                        </li>
                                    </ul>

                                    <a href="{{ url_for('portfolio') }}"
                                        class="button relative z-[1] inline-flex items-center gap-3 rounded-[50px] border-none bg-colorViolet py-[18px] text-white after:bg-colorOrangyRed hover:text-white">Our portfolio
                                        <img src="assets/img/th-2/icon-white-long-arrow-right.svg"
                                            alt="icon-white-long-arrow-right" /></a>
                                </div>
                                <div
                                    class="flex flex-col gap-6 overflow-hidden rounded-[30px] bg-gradient-to-t from-[rgba(255,255,255,.1)] to-[rgba(0,0,0,0.5)] py-[124px]">                  
                                    <div class="horizontal-slide-from-right-to-left flex w-[1161px] gap-x-6">
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/js.svg"
                                                alt="icon-flat-color-discord" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/img/th-2/icon-flat-color-github.svg"
                                                alt="icon-flat-color-github" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/bootstrap.svg"
                                                alt="icon-flat-color-mailchamp" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/tailwind.svg"
                                                alt="icon-flat-color-messenger" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/python.svg"
                                                alt="icon-flat-color-skype" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/flask.svg"
                                                alt="icon-flat-color-slack" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/mysql.svg"
                                                alt="icon-flat-color-snapchat" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/wordpress.svg"
                                                alt="icon-flat-color-whatsapp" style="width: 50px;"/>
                                        </div>
                                        <div
                                            class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                            <img src="assets/logo/woo.svg"
                                                alt="icon-flat-color-zendesk" style="width: 50px;"/>
                                        </div>
                                    </div>
                                    <div class="horizontal-slide-from-left-to-right flex w-[1161px] gap-x-6">
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/js.svg"
                                                    alt="icon-flat-color-discord" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/img/th-2/icon-flat-color-github.svg"
                                                    alt="icon-flat-color-github" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/bootstrap.svg"
                                                    alt="icon-flat-color-mailchamp" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/tailwind.svg"
                                                    alt="icon-flat-color-messenger" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/python.svg"
                                                    alt="icon-flat-color-skype" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/flask.svg"
                                                    alt="icon-flat-color-slack" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/mysql.svg"
                                                    alt="icon-flat-color-snapchat" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/wordpress.svg"
                                                    alt="icon-flat-color-whatsapp" style="width: 50px;"/>
                                            </div>
                                            <div
                                                class="flex h-[105px] w-[105px] items-center justify-center rounded-[10px] bg-white">
                                                <img src="assets/logo/woo.svg"
                                                    alt="icon-flat-color-zendesk" style="width: 50px;"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </div>
                    <section style="padding-top: 50px;">
                        <div
                            class="jos mx-5 rounded-[50px] bg-black px-[20px] py-20 sm:px-[50px] mb-[30px] xl:py-[130px]">
                            <div class="global-container">
                                <div class="mb-10 text-center lg:mb-12 xl:mb-20">
                                    <div class="mx-auto md:max-w-xl lg:max-w-3xl xl:max-w-[745px]">
                                        <h2 class="text-white">Our last work</h2>
                                    </div>
                                </div>
                                <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-2">
                                    {% for por in pors %}
                                    <article
                                        class="jos group overflow-hidden rounded-[10px] bg-black shadow-[0_4px_80px_rgba(0,0,0,0.08)]"
                                        data-jos_delay="0.1">
                                        <a class='block h-[320px] w-full overflow-hidden rounded-[30px]' href='{{ por.url }}' target="_blank">
                                            <img src="{{ url_for('static', filename=por.photo) }}" alt="blog-main-1" width="416"
                                                height="320"
                                                class="h-full w-full scale-100 object-cover transition-all duration-300 group-hover:scale-105" />
                                        </a>
                                        <div class="p-6">
                                            <h5
                                                class="mb-7 font-clashDisplay font-medium leading-[1.28] tracking-[1px] text-[28] text-white hover:text-colorViolet">
                                                <a href='{{ por.url }}' target="_blank">
                                                    {{ por.title }}</a>
                                            </h5>
                                            <div class="flex items-center justify-between gap-x-4">
                                                <a class='h-[30px] w-[30px]' href='/blog-details'>
                                                    <img src="assets/img/th-2/icon-blue-long-arrow-right.svg"
                                                        alt="icon-blue-long-arrow-right" width="30" height="30"
                                                        class="transition-all duration-300 group-hover:-rotate-45" />
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <div
                        class="absolute left-1/2 top-[80%] -z-[1] h-[1280px] w-[1280px] -translate-x-1/2 rounded-full bg-gradient-to-t from-[#5636C7] to-[#5028DD] blur-[250px]">
                    </div>
                </div>
            </section>
            <div class="global-container">
                <div class="h-[1px] w-full bg-[#EAEDF0]"></div>
            </div>
            <section class="pricing">
                 <div class="pb-20 pt-20 xl:pb-[150px] xl:pt-[130px]">
                     <div class="global-container">
                         <div class="jos mb-10 text-center lg:mb-12">
                             <div class="mx-auto md:max-w-xs lg:max-w-xl xl:max-w-[746px]">
                                 <h2 class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">Cost-effectively build any software</h2>
                             </div>
                         </div>
                         <div class="container mx-auto">
                             <div class="jos flex justify-center" data-jos_animation="fade">
                                 <div class="inline-flex space-x-4 rounded-[50px] border-2 border-black font-semibold">
                                     <button class="tab-button price-button active" data-tab="monthly">
                                        portfolio
                                     </button>
                                     <button class="tab-button price-button" data-tab="annually">
                                        e-commerce
                                     </button>
                                 </div>  
                             </div>
                             <div class="mt-12 lg:mt-16 xl:mt-20">
                                 <ul id="monthly"
                                     class="tab-content grid grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-3">
                                   <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                       data-jos_animation="flip" data-jos_delay="0" style="background: linear-gradient(to top, #0099ff73, #86ff6182, #ff000078);"> 
                                       <h3
                                           class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                            limited offer
                                       </h3>
                                       <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                       <h4
                                           class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                           $39<span class="text-lg font-semibold">one time</span>
                                       </h4>
                                       <p
                                           class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                           This is an excellent option for people & small
                                           businesses who are starting out.
                                       </p>
                                       <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing#wp'>more details</a>
                                   </li>
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                              Basic
                                         </h3>
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $60<span class="text-lg font-semibold">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             This is an excellent option for portfolios website.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=wp-Basic#wp'>more details</a>
                                     </li>
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                           Professional
                                         </h3>
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $89<span class="text-lg font-semibold">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             This plan is suitable for e-commerce stores.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=wp-Professional#wp'>more details</a>
                                     </li>
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                              Coming soon
                                         </h3>
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $$$<span class="text-lg font-semibold">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             Ideal for handling complicated projects enterprise-level
                                             apps, and websites.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=wp-Vip'>more details</a>
                                     </li>
                                 </ul> 
                                 <ul id="annually"
                                     class="tab-content grid hidden grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-3">
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             Basic
                                         </h3>
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $240<span class="text-lg font-semibold">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             This is an excellent option for small companies & businesses who are starting out.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=native-basic#cc'>more details</a>
                                     </li>
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             Professional
                                         </h3> 
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $960<span class="text-lg font-semibold">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             Ideal for handling professional e-commerce stores for medium to large companies.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=native-professional#cc'>more details</a>
                                     </li>
                                     <li class="jos group flex flex-col rounded-[10px] bg-colorLinenRuffle p-10 transition-all duration-300 ease-linear hover:bg-black"
                                         data-jos_animation="flip" data-jos_delay="0">
                                         <h3
                                             class="font-dmSans text-[28px] font-bold leading-[1.28] text-black transition-all duration-300 ease-linear group-hover:text-white">
                                            Vip
                                         </h3>
                                         <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                                         <h4
                                             class="mb-4 font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                                             $1800<span class="text-lg font-semibold leading-none">one time</span>
                                         </h4>
                                         <p
                                             class="mb-10 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                                             Ideal for handling complicated projects enterprise-level
                                             projects, and websites.
                                         </p>
                                         <a class='button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white' href='/pricing?active=native-Vip#cc'>more details</a>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
            <div class="global-container">
                <div class="h-[1px] w-full bg-[#EAEDF0]"></div>
            </div>
            <div id="blog">
                <div class="py-20 xl:py-[130px]">
                    <div class="global-container">
                        <div
                            class="jos mx-auto mb-10 text-center md:mb-16 md:max-w-xl lg:mx-0 lg:mb-20 lg:max-w-[636px] lg:text-left">
                            <h2
                                class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                Find out more in our recent blogs
                            </h2>
                        </div>
                        <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-3">
                            {% for blog in blogs %}
                            <article
                                class="jos group overflow-hidden rounded-[10px] bg-white shadow-[0_4px_80px_rgba(0,0,0,0.08)]"
                                data-jos_delay="0.1">
                                <a class='block w-full overflow-hidden rounded-[30px]' style="height: 250px;" href='/blog/{{ blog.id }}'>
                                    <img src="{{ url_for('static', filename=blog.photo) }}" alt="blog-main-1" width="416"
                                        height="320"
                                        class="h-full w-full scale-100 transition-all duration-300 group-hover:scale-105" />
                                </a>
                                <div class="p-6">
                                    <h5
                                        class="mb-7 font-clashDisplay font-medium leading-[1.28] tracking-[1px] text-[28] hover:text-colorViolet">
                                        <a href='/blog/{{ blog.id }}'>
                                            {{ blog.title }}</a>
                                    </h5>
                                    <div class="flex items-center justify-between gap-x-4">
                                        <span style="font-weight: 500;">{{ blog.date }}</span>
                                        <a class='h-[30px] w-[30px]' href='/blog/{{ blog.id }}'>
                                            <img src="assets/img/th-2/icon-blue-long-arrow-right.svg"
                                                alt="icon-blue-long-arrow-right" width="30" height="30"
                                                class="transition-all duration-300 group-hover:-rotate-45" />
                                        </a>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <section id="faq">
                <div class="pb-40 xl:pb-[220px]">
                    <div class="global-container">
                        <div
                            class="jos mx-auto mb-10 text-center md:mb-16 md:max-w-xl lg:mb-20 lg:max-w-3xl xl:max-w-[856px]">
                            <h2
                                class="font-clashDisplay text-4xl font-medium leading-[1.06] sm:text-[44px] lg:text-[56px] xl:text-[75px]">
                                Frequently Asked Questions
                            </h2>
                        </div>
                        <ul class="accordion flex flex-col gap-y-6">
                            <li class="jos accordion-item is-3 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px] active"
                                data-jos_delay="0.1">
                                <div class="accordion-header flex items-center justify-between">
                                    <h5
                                        class="font-clashDisplay text-xl font-medium leading-[1.2] tracking-[1px] lg:text-[28px]">
                                        What services does <strong>Webify</strong> offer?
                                    </h5>
                                    <div class="accordion-icon is-blue">
                                        <img src="assets/img/plus.svg" alt="plus" />
                                        <img src="assets/img/plus-white.svg" alt="plus-white" />
                                    </div>
                                </div>
                                <div class="accordion-content text-lg text-[#2C2C2C]">
                                    <p>
                                        Webify specializes in custom web development, e-commerce solutions, WordPress, and company portfolio websites.
                                    </p>
                                </div>
                            </li>
                            <li class="jos accordion-item is-3 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                data-jos_delay="0.1">
                                <div class="accordion-header flex items-center justify-between">
                                    <h5
                                        class="font-clashDisplay text-xl font-medium leading-[1.2] tracking-[1px] lg:text-[28px]">
                                        Do you offer mobile-friendly designs and good for SEO?
                                    </h5>
                                    <div class="accordion-icon is-blue">
                                        <img src="assets/img/plus.svg" alt="plus" />
                                        <img src="assets/img/plus-white.svg" alt="plus-white" />
                                    </div>
                                </div>
                                <div class="accordion-content text-lg text-[#2C2C2C]">
                                    <p>
                                        Yes, we offer fully responsive designs compatible with all devices, with a focus on optimizing websites for search engines (SEO) to ensure outstanding performance in search results.
                                    </p>
                                </div>
                            </li>
                            <li class="jos accordion-item is-3 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                data-jos_delay="0.1">
                                <div class="accordion-header flex items-center justify-between">
                                    <h5
                                        class="font-clashDisplay text-xl font-medium leading-[1.2] tracking-[1px] lg:text-[28px]">
                                        How long does it take to build a website?
                                    </h5>
                                    <div class="accordion-icon is-blue">
                                        <img src="assets/img/plus.svg" alt="plus" />
                                        <img src="assets/img/plus-white.svg" alt="plus-white" />
                                    </div>
                                </div>
                                <div class="accordion-content text-lg text-[#2C2C2C]">
                                    <p>
                                        The timeline for your project depends on its complexity. A standard WordPress website typically takes 2 to 15 days to complete, while a custom-built site using native code can take between 3 to 25 days. We'll provide you with an accurate timeline based on your specific project requirements.
                                    </p>
                                </div>
                            </li>
                            <li class="jos accordion-item is-3 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                data-jos_delay="0.1">
                                <div class="accordion-header flex items-center justify-between">
                                    <h5
                                        class="font-clashDisplay text-xl font-medium leading-[1.2] tracking-[1px] lg:text-[28px]">                
                                        Do you offer training for managing e-commerce stores after delivery?
                                    </h5>
                                    <div class="accordion-icon is-blue">
                                        <img src="assets/img/plus.svg" alt="plus" />
                                        <img src="assets/img/plus-white.svg" alt="plus-white" />
                                    </div>
                                </div>
                                <div class="accordion-content text-lg text-[#2C2C2C]">
                                    <p>
                                        Yes, we provide customized training videos for e-commerce stores to help you manage your online store easily. These videos cover essential tasks such as updating products, managing inventory, and processing orders. Additionally, we offer technical support to assist you with any challenges or questions you may encounter while managing your store.
                                    </p>
                                </div>
                            </li>
                            <li class="jos accordion-item is-3 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                data-jos_delay="0.1">
                                <div class="accordion-header flex items-center justify-between">
                                    <h5
                                        class="font-clashDisplay text-xl font-medium leading-[1.2] tracking-[1px] lg:text-[28px]">
                                        Is it possible to upgrade my website later?
                                    </h5>
                                    <div class="accordion-icon is-blue">
                                        <img src="assets/img/plus.svg" alt="plus" />
                                        <img src="assets/img/plus-white.svg" alt="plus-white" />
                                    </div>
                                </div>
                                <div class="accordion-content text-lg text-[#2C2C2C]">
                                    <p>
                                        Yes, while our websites are built with scalability in mind, it's important to note that expanding features on a WordPress site can become challenging as your business grows. For long-term growth and flexibility, we recommend considering a custom-built native site, which allows for smoother scalability and more tailored features.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
     </main>
     <script src="assets/js/vendors/cmain.js"></script>
{% endblock content %}