{% extends "layout.html" %}
{% block content %}
<main class="main-wrapper relative overflow-hidden">
            <!--...::: Login Section Start :::... -->
            <section id="login-section">
                <!-- Section Spacer -->
                <div class="py-40 pt-36 xl:pb-[200px] xl:pt-[180px]">
                    <!-- Section Container -->
                    <div class="global-container">
                        <div class="mx-auto max-w-[910px] text-center">
                            <h1 class="mb-[50px]">Welcome back</h1>
                            <div
                                class="block rounded-lg bg-white px-[30px] py-[50px] text-left shadow-[0_4px_60px_0_rgba(0,0,0,0.1)] sm:px-10">
                                <!-- Login Form -->
                                <form action="" method="post" class="flex flex-col gap-y-5">
                                    <!-- Form Group -->
                                    <div class="grid grid-cols-1 gap-6">
                                        <!-- Form Single Input -->
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="login-email" class="text-lg font-bold leading-[1.6]">Email
                                                </label>
                                            <input type="email" name="login-email" id="login-email"
                                                placeholder="example@gmail.com"
                                                class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed"
                                                required />
                                        </div>
                                        <!-- Form Single Input -->
                                        <!-- Form Single Input -->
                                        <div class="flex flex-col gap-y-[10px]">
                                            <label for="login-password" class="text-lg font-bold leading-[1.6]">
                                                Password</label>
                                            <input type="password" name="login-password" id="login-password"
                                                placeholder="............"
                                                class="rounded-[10px] border border-gray-300 bg-white px-6 py-[18px] font-bold text-black outline-none transition-all placeholder:text-slate-500 focus:border-colorOrangyRed"
                                                required />
                                        </div>
                                        <!-- Form Single Input -->
                                        <div class="flex flex-wrap justify-between gap-x-10 gap-y-4">
                                            <!-- Form Single Input -->
                                            
                                            <!-- Form Single Input -->
                                            <a class='text-base hover:text-colorOrangyRed' href='/reset-password'>Forgot password?</a>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="button mt-7 block rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white">
                                        Sign in
                                    </button>
                                    <!-- Form Group -->
                                </form>
                                <!-- Login Form -->
                           
                                <div class="mt-10 text-center">
                                    don't have an account?
                                    <a class='text-base font-semibold hover:text-colorOrangyRed' href='/signup'>create one
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: Login Section End :::... -->
        </main>
{% endblock content %}  
      