{% extends "layout.html" %}
{% block content %}
        <main class="main-wrapper relative overflow-hidden">
            <section id="section-breadcrumb">
                <div class="breadcrumb-wrapper">
                    <div class="global-container">
                        <div class="breadcrumb-block">
                            <h1 class="breadcrumb-title">Our Services</h1>
                            <ul class="breadcrumb-nav">
                                <li><a href='/'>Home</a></li>
                                <li>Our Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-service">
                <div class="pb-20 xl:pb-[150px]">
                    <div class="global-container">
                        <div class="jos mb-10 text-center lg:mb-16 xl:mb-20">
                            <div class="mx-auto max-w-md lg:max-w-xl xl:max-w-[950px]">
                                <h2>Our Solutions</h2>
                                <p>Focused on results we seek to raise the level of our customers.</p>
                            </div>
                        </div>
                        <ul
                            class="jos grid grid-cols-1 gap-[2px] overflow-hidden rounded-[10px] border-2 border-black bg-black sm:grid-cols-2 lg:grid-cols-4">
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="assets/img/th-2/web-black.svg" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="assets/img/th-2/web.svg" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a class='hover:text-colorOrangyRed' href='#'>
                                        Website Pro.
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    We build professional responsive websites optimized for the most popular search engines, with good cost.
                                </p>
                                <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                                    <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="assets/img/th-2/shop-black.svg" alt="service-icon-black-2"
                                        width="70" height="70" />
                                    <img src="assets/img/th-2/shop.svg" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a class='hover:text-colorOrangyRed' href='#'>
                                        E-Commerce
                                    </a>
                                </h3>
                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Increase your sales with an incredible online store, full of features and functionality.
                                </p>

                                <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                                    <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="assets/img/th-2/wordpress-black.svg" alt="service-icon-black-3"
                                        width="70" height="70" />
                                    <img src="assets/img/th-2/wordpress.svg" alt="service-icon-orange-3"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a class='hover:text-colorOrangyRed' href='#'>
                                        WordPress
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Build a stunning website with WordPress, combining flexibility, speed, and ease of use for any project.
                                </p>

                                <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                                    <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="assets/img/server.svg" alt="service-icon-black-4"
                                        width="70" height="70" />
                                    <img src="assets/img/server-blue.svg" alt="service-icon-orange-4"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a class='hover:text-colorOrangyRed' href='#'>
                                        hosting
                                    </a>
                                </h3>
                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Reliable and secure hosting to keep your website fast, accessible, and always online.
                                </p>
                                <a class='relative inline-block h-[30px] w-[30px] duration-300' href='#'>
                                    <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="assets/img/th-2/icon-blue-long-arrow-right.svg" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="faq-section">
                <div class="pb-20 xl:pb-[150px]">
                    <div class="global-container">
                        <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2">
                            <div class="jos flex flex-col" data-jos_animation="fade-right">
                                <div class="mb-6">
                                    <div class="mx-auto md:mx-0 md:max-w-none">
                                        <h2>Freely ask us for more information</h2>
                                    </div>
                                </div>
                                <div class="text-lg leading-[1.4] lg:text-[21px]">
                                    <p class="mb-7 last:mb-0">
                                        Our users appreciate our commitment to quality and customer satisfaction.
                                        From responsive designs to reliable hosting and excellent support, 
                                        we consistently deliver results that help businesses grow and succeed online.
                                    </p>
                                    <a class='button mt-5 rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white' href='/faq'>Ask
                                        you questions</a>
                                </div>
                            </div>
                            <div class="jos md:ml-10 lg:ml-20 xl:ml-32" data-jos_animation="fade-left">
                                <ul class="accordion">
                                    <li
                                        class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0 active">
                                        <div
                                            class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                            <p> How much do your services cost?</p>
                                            <div class="accordion-icon">
                                                <img src="assets/img/plus.svg" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                               Pricing varies based on the project, starting at $50 for basic designs and up to $300 for advanced features.
                                            </p>
                                        </div>
                                    </li>
                                    <li
                                        class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0">
                                        <div
                                            class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                            <p>Do you offer hosting services?</p>
                                            <div class="accordion-icon">
                                                <img src="assets/img/plus.svg" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                Yes, we provide secure, reliable hosting with SSL, backups, and excellent uptime. Plans start at $10/month, ensuring fast performance and scalable options for any website.
                                            </p>
                                        </div>
                                    </li>
                                    <li
                                        class="accordion-item border-b-[1px] border-[#DBD6CF] pb-6 pt-6 first:pt-0 last:border-b-0 last:pb-0">
                                        <div
                                            class="accordion-header flex items-center justify-between font-dmSans text-xl font-bold leading-[1.2] -tracking-[0.5px] text-black lg:text-[28px]">
                                            <p>Do you provide support after launching the website?</p>
                                            <div class="accordion-icon">
                                                <img src="assets/img/plus.svg" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                Yes, we offer post-launch support to ensure your website operates efficiently and meets your expectations.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock content %}